$technology: "HTML", "JavaScript", "CSS", "Vue", "Bootstrap", "Sass", "Git";
$color: $color-HTML, $color-js, $color-css, $color-vue, $color-bootstrap, 
$color-sass, $color-git;

@each $tech, $col in zip($technology, $color){
    .color-#{$tech}{
        color: $col;
    }
}