.color-HTML{
    color: $color-HTML;
}
.color-JavaScript{
    color: $color-js;
}
.color-CSS{
    color: $color-css;
}
.color-Vue{
    color: $color-vue;
}
.color-Bootstrap{
    color: $color-bootstrap;
}
.color-Sass{
    color: $color-sass;
}
.color-Git{
    color: $color-git;
}